.config
*.binc
*.bak
Bin_*
Obj*
*.[o]
*.signc
AP.map
AP.bin
__init__.pyc
_crcfunpy.pyc
crcmod.pyc
*.mvfc
boot/sboot/out/
.gitignore
tv-ap/dvb/ui2/res960x540x565
tv-ap/dvb/ui2/res960x540xI8
tv-ap/dvb/ui2/res1366x768x565
tv-ap/dvb/ui2/res1920x1080x565

