# Prj List:
#------------------------------------------------------
#PROJ=R2_EULER_ZUI_128MB_DVBT
#PROJ=R2_EULER_ZUI_64MB_ISDBT
#------------------------------------------------------
#PROJ=MIPS_EMERALD_ZUI_MM_128MB_DVBT_CI_PLUS_T2
#PROJ=MIPS_EMERALD_ZUI_MM_128MB_DVBT
#------------------------------------------------------
#PROJ=R2_EDEN_ZUI_64MB_ATVMM
#PROJ=R2_EDEN_64MB_ATSC
#PROJ=R2_EDEN_64MB_ATSC_TTS
#---------------------------------------------------
#PROJ=R2_NASA_ZUI_64MB_ATVMM
#PROJ=R2_NASA_ZUI_64MB_DTMB
#PROJ=R2_NASA_ZUI_64MB_DTMB_SZ
#PROJ=R2_NASA_ZUI_32MB_ATVMM
#------------------------------------------------------
#PROJ=MIPS_MILAN_ZUI_MM_64MB_ALL_SZ
#PROJ=MIPS_MILAN_ZUI_MM_64MB_ALL_SZ_BLOADER
#PROJ=MIPS_MILAN_ZUI_MM_128MB_ALL_SZ
#PROJ=MIPS_MILAN_ZUI_MM_128MB_ALL_SZ_BLOADER
#------------------------------------------------------
#PROJ=R2_MAYA_128M_DVBT_DVBT2_DVBC_DVBS_BLOADER
#PROJ=R2_MAYA_128M_DVBT_DVBT2_DVBC_DVBS
#PROJ=R2_MAYA_128M_ATSC
#PROJ=R2_MAYA_128M_ATSC_DVBS
#PROJ=R2_MAYA_128M_DVBT
#PROJ=R2_MAYA_128M_ATSC_KOR
#PROJ=R2_MAYA_128M_SOLUM
#------------------------------------------------------
#PROJ=R2_WHISKY_128M_ATSC
#PROJ=R2_WHISKY_128M_ATSC_BLOADER
#PROJ=R2_WHISKY_64M_ATSC
#PROJ=R2_WHISKY_ATV_MM_64MB
#PROJ=R2_WHISKY_64M_ATSC_4M
#PROJ=R2_WHISKY_32M_ATSC
#PROJ=R2_WHISKY_64M_ATSC_4M_TTS_EN
#------------------------------------------------------
#PROJ=R2_MELODY_ATV_MM_64MB
#PROJ=R2_MELODY_ATV_MM_32MB
#PROJ=R2_MELODY_64M_ISDB
#PROJ=R2_MELODY_ATV_MM_64MB_3D
#PROJ=R2_MELODY_ATV_MM_32MB_GAME
#PROJ=R2_MELODY_ATV_MM_64MB_GAME
#PROJ=R2_MELODY_ATV_MM_32MB_CUS_SZ
#------------------------------------------------------
#PROJ=MIPS_MARLON_128M_ALL
#PROJ=MIPS_MARLON_64M_ALL
#PROJ=MIPS_MARLON_64M_ISDB
#PROJ=MIPS_MARLON_128M_DVBT_SZ
#PROJ=MIPS_MARLON_128M_DVBT_SZ_BLOADER
#PROJ=MIPS_MARLON_64M_DVBT_SZ
#PROJ=MIPS_MARLON_64M_DVBT_SZ_BLOADER
#PROJ=MIPS_MARLON_128M_ISDB_SZ
#PROJ=MIPS_MARLON_64M_ISDB_SZ
#PROJ=MIPS_MARLON_64M_DVBT_ISDB_SZ
#PROJ=MIPS_MARLON_128M_ALL_AUTOTEST
#PROJ=MIPS_MARLON_128M_DVBT_SZ_STR
#------------------------------------------------------
#PROJ=ARM_MAZDA_256M_ALL
#PROJ=ARM_MAZDA_256M_ATSC
#PROJ=ARM_MAZDA_256M_ISDB
#PROJ=ARM_MAZDA_128M_128M_ALL


#===========================================================

#-----------------------------------------------------------------------------
# Marlon - HQ 
#-----------------------------------------------------------------------------
ifeq ($(PROJ),MIPS_MARLON_128M_ALL)
    BOARD_TYPE_SEL ?= BD_MST269B_D01A_S_MARLON
    #BOARD_TYPE_SEL ?= BD_MST269A_D01A_S_MARLON
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
	#BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_ALL.mk
	MMAP_FILE = MMAP_DTVMM_MARLON_128_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS7
endif

ifeq ($(PROJ),MIPS_MARLON_64M_ALL)
    BOARD_TYPE_SEL ?= BD_MST269E_D01A_S_MARLON
    #BOARD_TYPE_SEL ?= BD_MST269D_D01A_S_MARLON
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_64M_ALL
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_ALL.mk
    MMAP_FILE = MMAP_DTVMM_MARLON_64_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS7
endif

ifeq ($(PROJ),MIPS_MARLON_64M_ISDB)
    BOARD_TYPE_SEL ?= BD_MST269B_D01A_S_MARLON
    #BOARD_TYPE_SEL ?= BD_MST269C_D01A_S_MARLON
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_64M_ALL
    ENABLE_ISDBT = ENABLE
    ATSC_CC = BRA_CC
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_ALL.mk
    MMAP_FILE = MMAP_DTVMM_MARLON_64_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS7
endif

ifeq ($(PROJ),MIPS_MARLON_128M_ALL_AUTOTEST)
    BOARD_TYPE_SEL ?= BD_MST269B_D01A_S_MARLON
    #BOARD_TYPE_SEL ?= BD_MST269A_D01A_S_MARLON
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    CC_TVOPTS += -DCHAKRA3_AUTO_TEST=ENABLE
    CC_TVOPTS += -DENABLE_AUTOTEST=CHAKRA3_AUTO_TEST
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_ALL.mk
    MMAP_FILE = MMAP_DTVMM_MARLON_128_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS7
endif

#-----------------------------------------------------------------------------
# Marlon - SZ board 
#-----------------------------------------------------------------------------
ifeq ($(PROJ),MIPS_MARLON_128M_DVBT_SZ)
    BOARD_TYPE_SEL ?= BD_MST120B_10ALS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_ALL.mk
	MMAP_FILE = MMAP_DTVMM_MARLON_128_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS7
endif

ifeq ($(PROJ),MIPS_MARLON_128M_DVBT_SZ_STR)
    BOARD_TYPE_SEL ?= BD_MST120B_10ALS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= MARLON
    STR_ENABLE ?= ENABLE
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_ALL.mk
        MMAP_FILE = MMAP_DTVMM_MARLON_128_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS7
endif

ifeq ($(PROJ),MIPS_MARLON_128M_DVBT_SZ_BLOADER)
    BOARD_TYPE_SEL ?= BD_MST120B_10ALS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= BLOADER_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_128M_DVBT_SZ_BLOADER.mk
    MMAP_FILE = MMAP_DTVMM_MARLON_128_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),MIPS_MARLON_64M_DVBT_SZ)
    BOARD_TYPE_SEL ?= BD_MST118B_10ALU
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_64M_ALL
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_ALL.mk
    MMAP_FILE = MMAP_DTVMM_MARLON_64_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS7
    ENABLE_BMP_REDUCE=ENABLE
    UI_RESOURCE_FOLDER=res960x540x565
endif

ifeq ($(PROJ),MIPS_MARLON_64M_DVBT_SZ_BLOADER)
    BOARD_TYPE_SEL ?= BD_MST118B_10ALU
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_64M_ALL
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= BLOADER_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_64M_DVBT_SZ_BLOADER.mk
    MMAP_FILE = MMAP_DTVMM_MARLON_64_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS7
endif

ifeq ($(PROJ),MIPS_MARLON_128M_ISDB_SZ)
    BOARD_TYPE_SEL ?= BD_MST120B_10ALS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    ENABLE_ISDBT = ENABLE
    ATSC_CC = BRA_CC
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_ALL.mk
    MMAP_FILE = MMAP_DTVMM_MARLON_128_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS7
endif

ifeq ($(PROJ),MIPS_MARLON_64M_ISDB_SZ)
    BOARD_TYPE_SEL ?= BD_MST118B_10ALU
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_64M_ALL
    ENABLE_ISDBT = ENABLE
    ATSC_CC = BRA_CC
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_ALL.mk
    MMAP_FILE = MMAP_DTVMM_MARLON_64_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS7
endif

ifeq ($(PROJ),MIPS_MARLON_64M_DVBT_ISDB_SZ)
    BOARD_TYPE_SEL ?= BD_MST118B_10ALU
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_64M_ALL
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    ENABLE_ISDBT = ENABLE
    ATSC_CC = BRA_CC
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_ALL.mk
    MMAP_FILE = MMAP_DTVMM_MARLON_64_MIPS_DVBT_ISDB.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS7
endif

#--- for internal certification use ------------------------------------------
#PROJ=MIPS_MARLON_128M_DVBT_CERT1
#PROJ=MIPS_MARLON_128M_DVBT_CERT1_BLOADER
#PROJ=MIPS_MARLON_128M_DVBT_CERT2
#PROJ=MIPS_MARLON_128M_DVBT_CERT3
#PROJ=MIPS_MARLON_128M_DVBT_CERT4
#PROJ=MIPS_MARLON_128M_DVBT_CERT5
#PROJ=MIPS_MARLON_128M_DVBT_CERT6
#PROJ=MIPS_MARLON_128M_DVBT_ASTRA_HD
#PROJ=MIPS_MARLON_128M_DVBT_SGP_MDA
#PROJ=MIPS_MARLON_128M_DVBT_NTSC
#PROJ=MIPS_MARLON_128M_DVBT_FONT
#PROJ=MIPS_MARLON_128M_DVBT_CI_V1_4
#-----------------------------------------------------------------------------
ifeq ($(PROJ),MIPS_MARLON_128M_DVBT_CERT1)
    BOARD_TYPE_SEL ?= BD_MST120B_10ALS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    CC_TVOPTS += -DPROJ_CERTIFICATION_GROUP1=ENABLE
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_ALL.mk
    MMAP_FILE = MMAP_DTVMM_MARLON_128_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS7
endif

ifeq ($(PROJ),MIPS_MARLON_128M_DVBT_CERT1_BLOADER)
    BOARD_TYPE_SEL ?= BD_MST120B_10ALS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    #CC_TVOPTS += -DPROJ_CERTIFICATION_GROUP1=DISABLE
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= BLOADER_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_128M_DVBT_CERT_BLOADER.mk
    MMAP_FILE = MMAP_DTVMM_MARLON_128_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS7
endif

ifeq ($(PROJ),MIPS_MARLON_128M_DVBT_CERT2)
    BOARD_TYPE_SEL ?= BD_MST120B_10ALS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    CC_TVOPTS += -DPROJ_CERTIFICATION_GROUP2=ENABLE
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_ALL.mk
    MMAP_FILE = MMAP_DTVMM_MARLON_128_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS7
endif

ifeq ($(PROJ),MIPS_MARLON_128M_DVBT_CERT3)
    BOARD_TYPE_SEL ?= BD_MST120B_10ALS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    CC_TVOPTS += -DPROJ_CERTIFICATION_GROUP3=ENABLE
    CC_TVOPTS += -DASTRA_HD_ENABLE=ENABLE    
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_ALL.mk
    MMAP_FILE = MMAP_DTVMM_MARLON_128_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS7
    SI_LIB_FILE =libdvbsi_mips_AstraHD.a
endif

ifeq ($(PROJ),MIPS_MARLON_128M_DVBT_CERT4)
    BOARD_TYPE_SEL ?= BD_MST120B_10ALS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    CC_TVOPTS += -DPROJ_CERTIFICATION_GROUP4=ENABLE
    CC_TVOPTS += -DASTRA_HD_ENABLE=ENABLE
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_ALL.mk
    MMAP_FILE = MMAP_DTVMM_MARLON_128_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS7
    SI_LIB_FILE =libdvbsi_mips_AstraHD.a
endif

ifeq ($(PROJ),MIPS_MARLON_128M_DVBT_CERT5)
    BOARD_TYPE_SEL ?= BD_MST120B_10ALS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    CC_TVOPTS += -DPROJ_CERTIFICATION_GROUP5=ENABLE
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_ALL.mk
    MMAP_FILE = MMAP_DTVMM_MARLON_128_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS7
endif

ifeq ($(PROJ),MIPS_MARLON_128M_DVBT_CERT6)
    BOARD_TYPE_SEL ?= BD_MST120B_10ALS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    CC_TVOPTS += -DPROJ_CERTIFICATION_GROUP6=ENABLE
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_ALL.mk
    MMAP_FILE = MMAP_DTVMM_MARLON_128_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS7
endif

ifeq ($(PROJ),MIPS_MARLON_128M_DVBT_CI_V1_4)
    BOARD_TYPE_SEL ?= BD_MST120B_10ALS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    CC_TVOPTS += -DENABLE_CI_V_1_4=ENABLE
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_ALL.mk
    MMAP_FILE = MMAP_DTVMM_MARLON_128_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS7
endif

ifeq ($(PROJ),MIPS_MARLON_128M_DVBT_ASTRA_HD)
    BOARD_TYPE_SEL ?= BD_MST120B_10ALS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    CC_TVOPTS += -DASTRA_HD_ENABLE=ENABLE
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_ALL.mk
    MMAP_FILE = MMAP_DTVMM_MARLON_128_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS7
    SI_LIB_FILE =libdvbsi_mips_AstraHD.a
endif

ifeq ($(PROJ),MIPS_MARLON_128M_DVBT_SGP_MDA)
    BOARD_TYPE_SEL ?= BD_MST120B_10ALS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    CC_TVOPTS += -DPROJ_CERTIFICATION_SGP_MDA=ENABLE
    ENABLE_DVBT = ENABLE
#    ENABLE_DVBC = ENABLE
#    ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_ALL.mk
    MMAP_FILE = MMAP_DTVMM_MARLON_128_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS7
endif

ifeq ($(PROJ),MIPS_MARLON_128M_DVBT_NTSC)
    BOARD_TYPE_SEL ?= BD_MST120B_10ALS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    CC_TVOPTS += -DPROJ_CERTIFICATION_SGP_MDA=ENABLE
    CC_TVOPTS += -DENABLE_NTSC=ENABLE    
    ATSC_CC ?= ATV_CC
    ENABLE_DVBT_WITH_NTSC ?= ENABLE      
    ENABLE_DVBT = ENABLE
#   ENABLE_DVBC = ENABLE
#   ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_ALL.mk
    MMAP_FILE = MMAP_DTVMM_MARLON_128_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS7
endif

ifeq ($(PROJ),MIPS_MARLON_128M_DVBT_FONT)
    BOARD_TYPE_SEL ?= BD_MST120B_10ALS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MARLON_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    CC_TVOPTS += -DPROJ_CERTIFICATION_GROUP5=ENABLE
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    ENABLE_DVBS = ENABLE
    ENABLE_LAYOUT_ENGINE = ENABLE
    CHIP_FAMILY ?= MARLON
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MARLON_ALL.mk
    MMAP_FILE = MMAP_DTVMM_MARLON_128_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS7
endif

#-----------------------------------------------------------------------------
# Melody - HQ board
#-----------------------------------------------------------------------------

ifeq ($(PROJ), R2_MELODY_ATV_MM_64MB_MEL_SZ_FONT)
    BOARD_TYPE_SEL ?= BD_MST242C_D01A_S
    #BOARD_TYPE_SEL ?= BD_MST242B_D01A_S
    CC_TVOPTS += -DMS_BOARD_TYPE_SEL=$(BOARD_TYPE_SEL)
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MELODY_64M_AtvMM
    CHIP_FAMILY ?= MELODY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MELODY_ZUI_64MB_ATVMM_MEL_SZ.mk
    MMAP ?= project/mmap/MMAP_ATVMM_MELODY_64_R2_MEL_SZ.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ), R2_MELODY_ATV_MM_64MB)
    BOARD_TYPE_SEL ?= BD_MST242C_D01A_S
    #BOARD_TYPE_SEL ?= BD_MST242B_D01A_S
    CC_TVOPTS += -DMS_BOARD_TYPE_SEL=$(BOARD_TYPE_SEL)
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MELODY_64M_AtvMM
    CHIP_FAMILY ?= MELODY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MELODY_ZUI_64MB_ATVMM.mk
    MMAP ?= project/mmap/MMAP_ATVMM_MELODY_64_R2.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
endif
	
ifeq ($(PROJ), R2_MELODY_ATV_MM_32MB_GAME)
    BOARD_TYPE_SEL ?= BD_MST242A_D01A_S
	#BOARD_TYPE_SEL ?= BD_MST242B_D01A_S
    CC_TVOPTS += -DMS_BOARD_TYPE_SEL=$(BOARD_TYPE_SEL)
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MELODY_32M_AtvMM
    CHIP_FAMILY ?= MELODY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MELODY_ZUI_32MB_ATVMM.mk
    MMAP ?= project/mmap/MMAP_ATVMM_MELODY_32_R2.h
    MEMORY_SIZE = MEMORY_32MB
    BIN_FORMAT ?= COMPRESS
	ENABLE_GAME=ENABLE
endif

ifeq ($(PROJ), R2_MELODY_ATV_MM_64MB_GAME)
    BOARD_TYPE_SEL ?= BD_MST242C_D01A_S
    #BOARD_TYPE_SEL ?= BD_MST242B_D01A_S
    CC_TVOPTS += -DMS_BOARD_TYPE_SEL=$(BOARD_TYPE_SEL)
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MELODY_64M_AtvMM
    CHIP_FAMILY ?= MELODY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MELODY_ZUI_64MB_ATVMM.mk
    MMAP ?= project/mmap/MMAP_ATVMM_MELODY_64_R2.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
	ENABLE_GAME=ENABLE
endif

ifeq ($(PROJ), R2_MELODY_64M_ISDB)
    BOARD_TYPE_SEL ?= BD_MST106B_10ARU_16115_ISDB_MELODY
    CC_TVOPTS += -DMS_BOARD_TYPE_SEL=$(BOARD_TYPE_SEL)
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MELODY_64M_ISDB_SZ
    ENABLE_ISDBT = ENABLE
	ATSC_CC = BRA_CC
	CHIP_FAMILY ?= MELODY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MELODY_ZUI_64MB_ISDB_SZ.mk
    MMAP ?= project/mmap/MMAP_DTVMM_MELODY_64_ISDB_R2_SZ.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ), R2_MELODY_ATV_MM_32MB)
    BOARD_TYPE_SEL ?= BD_MST242A_D01A_S
    CC_TVOPTS += -DMS_BOARD_TYPE_SEL=$(BOARD_TYPE_SEL)
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MELODY_32M_AtvMM
    CHIP_FAMILY ?= MELODY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MELODY_ZUI_32MB_ATVMM.mk
    MMAP ?= project/mmap/MMAP_ATVMM_MELODY_32_R2.h
    MEMORY_SIZE = MEMORY_32MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ), R2_MELODY_ATV_MM_64MB_3D)
    BOARD_TYPE_SEL ?= BD_MST097B_10ARB_15384
    CC_TVOPTS += -DMS_BOARD_TYPE_SEL=$(BOARD_TYPE_SEL)
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MELODY_64M_AtvMM
    CC_TVOPTS += -DENABLE_FORCE_MM_HD_FB=ENABLE
    CHIP_FAMILY ?= MELODY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MELODY_ZUI_64MB_ATVMM.mk
    MMAP ?= project/mmap/MMAP_ATVMM_MELODY_64_R2_3D.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ), R2_MELODY_ATV_MM_32MB_CUS_SZ)
    BOARD_TYPE_SEL ?= BD_MST094B_20ARJ_16234
    CC_TVOPTS += -DMS_BOARD_TYPE_SEL=$(BOARD_TYPE_SEL)
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MELODY_32M_AtvMM_CUS_SZ
    CHIP_FAMILY ?= MELODY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MELODY_ZUI_32MB_ATVMM_CUS_SZ.mk
    MMAP ?= project/mmap/MMAP_ATVMM_MELODY_32_R2_CUS_SZ.h
    MEMORY_SIZE = MEMORY_32MB
    BIN_FORMAT ?= COMPRESS
endif

#--- Enable AUTOTEST ---
ifeq ($(PROJ), R2_MELODY_ATV_MM_64MB_AUTOTEST)
    BOARD_TYPE_SEL ?= BD_MST242C_D01A_S
    #BOARD_TYPE_SEL ?= BD_MST242B_D01A_S
    CC_TVOPTS += -DMS_BOARD_TYPE_SEL=$(BOARD_TYPE_SEL)
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MELODY_64M_AtvMM
    CC_TVOPTS += -DCHAKRA3_AUTO_TEST=ENABLE
    CC_TVOPTS += -DENABLE_AUTOTEST=CHAKRA3_AUTO_TEST
    CHIP_FAMILY ?= MELODY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MELODY_ZUI_64MB_ATVMM.mk
    MMAP ?= project/mmap/MMAP_ATVMM_MELODY_64_R2.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ), R2_MELODY_ATV_MM_32MB_AUTOTEST)
    BOARD_TYPE_SEL ?= BD_MST242A_D01A_S
    CC_TVOPTS += -DMS_BOARD_TYPE_SEL=$(BOARD_TYPE_SEL)
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MELODY_32M_AtvMM
    CC_TVOPTS += -DCHAKRA3_AUTO_TEST=ENABLE
    CC_TVOPTS += -DENABLE_AUTOTEST=CHAKRA3_AUTO_TEST
    CHIP_FAMILY ?= MELODY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MELODY_ZUI_32MB_ATVMM.mk
    MMAP ?= project/mmap/MMAP_ATVMM_MELODY_32_R2.h
    MEMORY_SIZE = MEMORY_32MB
    BIN_FORMAT ?= COMPRESS
endif

#-----------------------------------------------------------------------------
# Whisky - HQ board
#-----------------------------------------------------------------------------
ifeq ($(PROJ),R2_WHISKY_128M_ATSC_I8)
    BOARD_TYPE_SEL ?= BD_MST233B_D01A_S
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_WHISKY_128M_ALL
    CC_TVOPTS += -DENABLE_UI_PALETTE=ENABLE
    #ENABLE_ATSC = ENABLE
    #ATSC_CC = DTV_CC
    #MS_TTS_LIB_SEL = MS_TTS_LIB_EN_SP_FR
    #MS_TTS_LIB_SEL = MS_TTS_LIB_EN_KR
    CHIP_FAMILY ?= WHISKY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_WHISKY_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_ATSCMM_WHISKY_128_R2.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_WHISKY_128M_ATSC)
    BOARD_TYPE_SEL ?= BD_MST090B_10ANU_15213
    #BOARD_TYPE_SEL ?= BD_MST233B_D01A_S
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_WHISKY_128M_ALL
    ENABLE_ATSC = ENABLE
    ATSC_CC = DTV_CC
    #MS_TTS_LIB_SEL = MS_TTS_LIB_EN_SP_FR
    #MS_TTS_LIB_SEL = MS_TTS_LIB_EN_SP_FR_KR
    #MS_TTS_LIB_SEL = MS_TTS_LIB_EN_KR
    CHIP_FAMILY ?= WHISKY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
	#BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_R2_WHISKY_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_ATSCMM_WHISKY_128_R2.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_WHISKY_128M_ATSC_BLOADER)
    BOARD_TYPE_SEL ?= BD_MST090B_10ANU_15213
	#BOARD_TYPE_SEL ?= BD_MST233B_D01A_S
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_WHISKY_128M_ALL
    ENABLE_ATSC = ENABLE
    ATSC_CC = DTV_CC
    #MS_TTS_LIB_SEL = MS_TTS_LIB_EN_SP_FR
    #MS_TTS_LIB_SEL = MS_TTS_LIB_EN_SP_FR_KR
    #MS_TTS_LIB_SEL = MS_TTS_LIB_EN_KR
    CHIP_FAMILY ?= WHISKY
    BUILD_TARGET ?= BLOADER_SYSTEM
    BUILD_FILE = project/build/FILES_R2_WHISKY_ALL_BLOADER.mk
    MMAP ?= project/mmap/MMAP_ATSCMM_WHISKY_128_R2.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_WHISKY_128M_ATSC_KOR)
    BOARD_TYPE_SEL ?= BD_MST090B_10ANU_15213
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_WHISKY_128M_ALL
    ENABLE_ATSC_KOR = ENABLE
    ENABLE_ATSC = ENABLE
    ATSC_CC = DTV_CC
    #MS_TTS_LIB_SEL = MS_TTS_LIB_EN_SP_FR
    #MS_TTS_LIB_SEL = MS_TTS_LIB_EN_KR
    CHIP_FAMILY ?= WHISKY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_WHISKY_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_ATSCMM_WHISKY_128_R2.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_WHISKY_64M_ATSC)
    BOARD_TYPE_SEL ?= BD_MST089B_10ANB_15213
	#BOARD_TYPE_SEL ?= BD_SOLUM_CUS
	#BOARD_TYPE_SEL ?= BD_MST233B_D01A_S
	#BOARD_TYPE_SEL ?= BD_MST233A_D01A_S
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_WHISKY_64M_ALL
    ENABLE_ATSC = ENABLE
    ATSC_CC = DTV_CC
    CHIP_FAMILY ?= WHISKY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_WHISKY_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_ATSCMM_WHISKY_64_R2.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_WHISKY_64M_ATSC_KOR)
    BOARD_TYPE_SEL ?= BD_MST090B_10ANU_15213
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_WHISKY_64M_ALL
    ENABLE_ATSC_KOR = ENABLE
    ENABLE_ATSC = ENABLE
    ATSC_CC = DTV_CC
    CHIP_FAMILY ?= WHISKY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_WHISKY_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_ATSCMM_WHISKY_64_R2.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_WHISKY_64M_ATSC_AUTOTEST)
    BOARD_TYPE_SEL ?= BD_MST090B_10ANU_15213
	#BOARD_TYPE_SEL ?= BD_MST233B_D01A_S
	#BOARD_TYPE_SEL ?= BD_MST233A_D01A_S
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_WHISKY_64M_ALL
    CC_TVOPTS += -DCHAKRA3_AUTO_TEST=ENABLE
    ENABLE_ATSC = ENABLE
    ATSC_CC = DTV_CC
    CHIP_FAMILY ?= WHISKY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_WHISKY_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_ATSCMM_WHISKY_64_R2.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_WHISKY_64M_ATSC_TTS_EN_ES_FR)
    BOARD_TYPE_SEL ?= BD_MST233B_D01A_S
  #BD_MST090B_10ANU_15213
	#BOARD_TYPE_SEL ?= BD_MST233B_D01A_S
	#BOARD_TYPE_SEL ?= BD_MST233A_D01A_S
    MS_TTS_LIB_SEL = MS_TTS_LIB_EN_SP_FR
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_WHISKY_64M_ALL
    ENABLE_ATSC = ENABLE
    ATSC_CC = DTV_CC
    CHIP_FAMILY ?= WHISKY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_WHISKY_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_ATSCMM_WHISKY_64_R2.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_WHISKY_64M_ATSC_4M_TTS_EN)
    BOARD_TYPE_SEL ?= BD_MST090B_10ANU_15213
    MS_TTS_LIB_SEL = MS_TTS_LIB_EN
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_WHISKY_64M_ALL
    CC_TVOPTS += -DMM_PHOTO_MUSIC_ONLY=1
    CC_TVOPTS += -DENABLE_AUDIO_R2_LITE
    CC_TVOPTS += -DFORCE_FLASH_SIZE_4M=1
    CC_TVOPTS += -DENABLE_ATSC_TTS=1
    ENABLE_ATSC = ENABLE
    ATSC_CC = DTV_CC
    CHIP_FAMILY ?= WHISKY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_WHISKY_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_ATSCMM_WHISKY_64_R2.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
    ENABLE_BMP_REDUCE=ENABLE
    UI_RESOURCE_FOLDER=res1366x768x565
endif

ifeq ($(PROJ),R2_WHISKY_32M_ATSC)
    BOARD_TYPE_SEL ?= BD_MST090B_10ANU_15213
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_WHISKY_32M_ALL
    CC_TVOPTS += -DTTS_IS_ON_HK=0
    #CC_TVOPTS += -DDTV_SYSTEM_SEL=DTV_SYSTEM_ATSC
    ENABLE_ATSC_TTS = DISABLE
    ENABLE_ATSC = ENABLE
    ATSC_CC = DTV_CC
    CHIP_FAMILY ?= WHISKY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_WHISKY_ATSC_32MB.mk
    MMAP ?= project/mmap/MMAP_ATSCMM_WHISKY_32_R2.h
    MEMORY_SIZE = MEMORY_32MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ), R2_WHISKY_ATV_MM_64MB)
    BOARD_TYPE_SEL ?= BD_MST090B_10ANU_15213
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_WHISKY_64M_AtvMM
    CC_TVOPTS += -DMEMORY_MAP=MMAP_64MB
    CHIP_FAMILY ?= WHISKY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_WHISKY_ATVMM.mk
    MMAP ?= project/mmap/MMAP_ATVMM_WHISKY_64_R2.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ), R2_WHISKY_ATV_MM_128MB)
    BOARD_TYPE_SEL ?= BD_MST090B_10ANU_15213
    CC_TVOPTS += -DMS_BOARD_TYPE_SEL=$(BOARD_TYPE_SEL)
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_WHISKY_128M_AtvMM
    CHIP_FAMILY ?= WHISKY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_WHISKY_ATVMM.mk
    MMAP ?= project/mmap/MMAP_ATVMM_WHISKY_128_R2.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

#--- Disable ATSC TTS ---
ifeq ($(PROJ),R2_WHISKY_128M_ATSC_4M)
    BOARD_TYPE_SEL ?= BD_MST090B_10ANU_15213
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_WHISKY_128M_ALL
	CC_TVOPTS += -DFORCE_FLASH_SIZE_4M=1
    ENABLE_ATSC = ENABLE
    ENABLE_ATSC_TTS = DISABLE
    ATSC_CC = DTV_CC
    CHIP_FAMILY ?= WHISKY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_WHISKY_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_ATSCMM_WHISKY_128_R2.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

#--- Disable ATSC TTS ---
ifeq ($(PROJ),R2_WHISKY_64M_ATSC_4M)
    BOARD_TYPE_SEL ?= BD_MST090B_10ANU_15213
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_WHISKY_64M_ALL
	CC_TVOPTS += -DFORCE_FLASH_SIZE_4M=1
    ENABLE_ATSC = ENABLE
    ENABLE_ATSC_TTS = DISABLE
    ATSC_CC = DTV_CC
    CHIP_FAMILY ?= WHISKY
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_WHISKY_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_ATSCMM_WHISKY_64_R2.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
endif

#-----------------------------------------------------------------------------
# Maya - HQ board
#-----------------------------------------------------------------------------
ifeq ($(PROJ),R2_MAYA_128M_ATSC)
    BOARD_TYPE_SEL ?= BD_MST084B_10AHB_15043
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MAYA_128M_ALL
    ENABLE_ATSC = ENABLE
    ATSC_CC = DTV_CC
    #MS_TTS_LIB_SEL = MS_TTS_LIB_EN_SP_FR
    #MS_TTS_LIB_SEL = MS_TTS_LIB_EN_SP_FR_KR
    #MS_TTS_LIB_SEL = MS_TTS_LIB_EN_KR
    CHIP_FAMILY ?= MAYA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MAYA_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_DTVMM_MAYA_128.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_MAYA_128M_LVDS_BOX)
    BOARD_TYPE_SEL ?= BD_MST084B_10AHB_LVDS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MAYA_128M_ALL
    ENABLE_ATSC = ENABLE
    ATSC_CC = DTV_CC
    #MS_TTS_LIB_SEL = MS_TTS_LIB_EN_SP_FR
    #MS_TTS_LIB_SEL = MS_TTS_LIB_EN_SP_FR_KR
    #MS_TTS_LIB_SEL = MS_TTS_LIB_EN_KR
    CHIP_FAMILY ?= MAYA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MAYA_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_DTVMM_MAYA_128.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_MAYA_128M_SOLUM)
    BOARD_TYPE_SEL ?= BD_SOLUM_XL1U
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MAYA_128M_ALL
    ENABLE_ATSC = ENABLE
    ATSC_CC = DTV_CC
    CHIP_FAMILY ?= MAYA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MAYA_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_DTVMM_MAYA_128.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_MAYA_128M_ATSC_LD_DEMO)
    BOARD_TYPE_SEL ?= BD_MST222F_D01A_S
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MAYA_128M_ALL
	CC_TVOPTS += -DLD_DEMO=1
    ENABLE_ATSC = ENABLE
    ATSC_CC = DTV_CC
    CHIP_FAMILY ?= MAYA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MAYA_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_DTVMM_MAYA_128.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_MAYA_128M_ATSC_AUTOTEST)
    BOARD_TYPE_SEL ?= BD_MST222B_D01A_S
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MAYA_128M_ALL
    CC_TVOPTS += -DCHAKRA3_AUTO_TEST=ENABLE	
    ENABLE_ATSC = ENABLE
    ENABLE_ATSC_TTS = DISABLE
    ATSC_CC = DTV_CC
    CHIP_FAMILY ?= MAYA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MAYA_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_DTVMM_MAYA_128.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_MAYA_128M_DVBT)
    BOARD_TYPE_SEL ?= BD_MST084B_10AHB_15043
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MAYA_128M_ALL
    #CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    ENABLE_DVBT = ENABLE
    CHIP_FAMILY ?= MAYA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MAYA_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_DTVMM_MAYA_128.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_MAYA_128M_ISDB)
    BOARD_TYPE_SEL ?= BD_MST084B_10AHB_15043
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MAYA_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    ENABLE_ISDBT = ENABLE
    ATSC_CC = BRA_CC
    CHIP_FAMILY ?= MAYA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MAYA_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_DTVMM_MAYA_128.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_MAYA_128M_DTMB)
    BOARD_TYPE_SEL ?= BD_MST084B_10AHB_15043
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MAYA_128M_ALL
    #CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    ENABLE_DTMB = ENABLE
    CHIP_FAMILY ?= MAYA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MAYA_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_DTVMM_MAYA_128.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_MAYA_128M_DTMB_AUTOTEST)
    BOARD_TYPE_SEL ?= BD_MST084B_10AHB_15043
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MAYA_128M_ALL
    CC_TVOPTS += -DDTV_SYSTEM_SEL=DTV_SYSTEM_DTMB
    CC_TVOPTS += -DCHAKRA3_AUTO_TEST=ENABLE
    #CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    ENABLE_DTMB = ENABLE
    CHIP_FAMILY ?= MAYA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MAYA_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_DTVMM_MAYA_128.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_MAYA_128M_ATSC_DVBS)
    BOARD_TYPE_SEL ?= BD_MST084B_10AHB_15043
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MAYA_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    ENABLE_ATSC = ENABLE
    ENABLE_DVBS = ENABLE
    ATSC_CC = DTV_CC
    CHIP_FAMILY ?= MAYA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MAYA_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_DTVMM_MAYA_128.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_MAYA_128M_DVBT_DVBT2_DVBC)
    BOARD_TYPE_SEL ?= BD_MST084B_10AHB_15043
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MAYA_128M_ALL
    #CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    CHIP_FAMILY ?= MAYA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MAYA_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_DTVMM_MAYA_128.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_MAYA_128M_DVBT_DVBT2_DVBC_AUTOTEST)
    BOARD_TYPE_SEL ?= BD_MST084B_10AHB_15043
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MAYA_128M_ALL
    #CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    CC_TVOPTS += -DCHAKRA3_AUTO_TEST=ENABLE
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    CHIP_FAMILY ?= MAYA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MAYA_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_DTVMM_MAYA_128.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_MAYA_128M_DVBT_DVBT2_DVBC_DVBS)
    BOARD_TYPE_SEL ?= BD_MST084B_10AHB_15043
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MAYA_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= MAYA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
	#BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MAYA_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_DTVMM_MAYA_128.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_MAYA_128M_DVBT_DVBT2_DVBC_DVBS_BLOADER)
    BOARD_TYPE_SEL ?= BD_MST084B_10AHB_15043
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MAYA_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    ENABLE_DVBT = ENABLE
    CHIP_FAMILY ?= MAYA
    BUILD_TARGET ?= BLOADER_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MAYA_128M_ALL_BLOADER.mk
    MMAP ?= project/mmap/MMAP_DTVMM_MAYA_128.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_MAYA_128M_ALL)
    BOARD_TYPE_SEL ?= BD_MST084B_10AHB_15043
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MAYA_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    ENABLE_ATSC = ENABLE
    #ENABLE_DVBT = ENABLE
    #ENABLE_DVBC = ENABLE
    #ENABLE_DVBS = ENABLE
    #ENABLE_ISDBT = ENABLE
    #ENABLE_DTMB = ENABLE
    ifeq ($(ENABLE_ATSC),ENABLE)
        ATSC_CC = DTV_CC
    else ifeq ($(ENABLE_ISDBT),ENABLE)
        ATSC_CC = BRA_CC
    endif
    CHIP_FAMILY ?= MAYA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MAYA_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_DTVMM_MAYA_128.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_MAYA_128M_ATSC_KOR)
    BOARD_TYPE_SEL ?= BD_MST084B_10AHB_15043
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MAYA_128M_ALL
	ENABLE_ATSC_KOR = ENABLE
    ENABLE_ATSC = ENABLE
    ATSC_CC = DTV_CC
    #MS_TTS_LIB_SEL = MS_TTS_LIB_EN_SP_FR
    #MS_TTS_LIB_SEL = MS_TTS_LIB_EN_SP_FR_KR
    #MS_TTS_LIB_SEL = MS_TTS_LIB_EN_KR
    CHIP_FAMILY ?= MAYA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_MAYA_128M_ALL.mk
    MMAP ?= project/mmap/MMAP_DTVMM_MAYA_128.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

#-----------------------------------------------------------------------------
# Milan - SZ board
#-----------------------------------------------------------------------------
ifeq ($(PROJ),MIPS_MILAN_ZUI_MM_128MB_ALL_SZ)
    BOARD_TYPE_SEL ?= BD_MST073B_10AGS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MILAN_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= MILAN
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MILAN_ZUI_MM_128MB_ALL.mk
	MMAP_FILE = MMAP_DTVMM_MILAN_128_MIPS_ALL_2.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),MIPS_MILAN_ZUI_MM_128MB_ALL_SZ_BLOADER)
    BOARD_TYPE_SEL ?= BD_MST073B_10AGS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MILAN_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    CHIP_FAMILY ?= MILAN
    BUILD_TARGET ?= BLOADER_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MILAN_ZUI_MM_128MB_ALL_BLOADER.mk
	MMAP_FILE = MMAP_DTVMM_MILAN_128_MIPS_ALL_2.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),MIPS_MILAN_ZUI_MM_128MB_ALL_AUTOTEST_SZ)
    BOARD_TYPE_SEL ?= BD_MST073B_10AGS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MILAN_128M_ALL
    CC_TVOPTS += -DCHAKRA3_AUTO_TEST=ENABLE
    CC_TVOPTS += -DENABLE_AUTOTEST=CHAKRA3_AUTO_TEST
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= MILAN
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MILAN_ZUI_MM_128MB_ALL.mk
	MMAP_FILE = MMAP_DTVMM_MILAN_128_MIPS_ALL_2.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),MIPS_MILAN_ZUI_MM_64MB_ALL_SZ)
    BOARD_TYPE_SEL ?= BD_MST074B_10AGS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MILAN_64M_ALL
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    CHIP_FAMILY ?= MILAN
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MILAN_ZUI_MM_64MB_ALL.mk
    MMAP ?= project/mmap/MMAP_DTVMM_MILAN_64_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS7
    SI_LIB_FILE =libdvbsi_mips_lite.a
endif

ifeq ($(PROJ),MIPS_MILAN_ZUI_MM_64MB_ALL_SZ_BLOADER)
    BOARD_TYPE_SEL ?= BD_MST074B_10AGS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MILAN_64M_ALL
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    CHIP_FAMILY ?= MILAN
    BUILD_TARGET ?= BLOADER_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MILAN_ZUI_MM_64MB_ALL_BLOADER.mk
    MMAP ?= project/mmap/MMAP_DTVMM_MILAN_64_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS7
	SI_LIB_FILE =libdvbsi_mips_lite.a
endif

ifeq ($(PROJ),MIPS_MILAN_128M_DVBT_SGP_MDA)
    BOARD_TYPE_SEL ?= BD_MST073B_10AGS
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MILAN_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
	CC_TVOPTS += -DENABLE_COUNTRY_SINGAPORE=ENABLE
    ENABLE_DVBT = ENABLE
#    ENABLE_DVBC = ENABLE
#    ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= MILAN
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MILAN_ZUI_MM_128MB_ALL.mk
	MMAP_FILE = MMAP_DTVMM_MILAN_128_MIPS_ALL_2.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

#-----------------------------------------------------------------------------
# Milan - HQ board
#-----------------------------------------------------------------------------
ifeq ($(PROJ),MIPS_MILAN_ZUI_MM_128MB_ALL)
    BOARD_TYPE_SEL ?= BD_MST214C_D01A_S_MILAN
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MILAN_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= MILAN
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
	#BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MILAN_ZUI_MM_128MB_ALL.mk
	MMAP_FILE = MMAP_DTVMM_MILAN_128_MIPS_ALL_2.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),MIPS_MILAN_ZUI_MM_128MB_ALL_BLOADER)
    BOARD_TYPE_SEL ?= BD_MST214C_D01A_S_MILAN
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MILAN_128M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    CHIP_FAMILY ?= MILAN
    BUILD_TARGET ?= BLOADER_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MILAN_ZUI_MM_128MB_ALL_BLOADER.mk
	MMAP_FILE = MMAP_DTVMM_MILAN_128_MIPS_ALL_2.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),MIPS_MILAN_ZUI_MM_128MB_ALL_AUTOTEST)
    BOARD_TYPE_SEL ?= BD_MST214C_D01A_S_MILAN
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MILAN_128M_ALL
    CC_TVOPTS += -DCHAKRA3_AUTO_TEST=ENABLE
    CC_TVOPTS += -DENABLE_AUTOTEST=CHAKRA3_AUTO_TEST
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= MILAN
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MILAN_ZUI_MM_128MB_ALL.mk
	MMAP_FILE = MMAP_DTVMM_MILAN_128_MIPS_ALL_2.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),MIPS_MILAN_ZUI_MM_64MB_ALL)
    BOARD_TYPE_SEL ?= BD_MST214A_D01A_S_MILAN
    #BOARD_TYPE_SEL ?= BD_MST214C_D01A_S_MILAN
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MILAN_64M_ALL
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    CHIP_FAMILY ?= MILAN
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MILAN_ZUI_MM_64MB_ALL.mk
    MMAP ?= project/mmap/MMAP_DTVMM_MILAN_64_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS7
endif

ifeq ($(PROJ),MIPS_MILAN_ZUI_MM_64MB_ALL_BLOADER)
    BOARD_TYPE_SEL ?= BD_MST214A_D01A_S_MILAN
    #BOARD_TYPE_SEL ?= BD_MST214C_D01A_S_MILAN
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MILAN_64M_ALL
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    CHIP_FAMILY ?= MILAN
    BUILD_TARGET ?= BLOADER_SYSTEM
    BUILD_FILE = project/build/FILES_MIPS_MILAN_ZUI_MM_64MB_ALL_BLOADER.mk
    MMAP ?= project/mmap/MMAP_DTVMM_MILAN_64_MIPS_ALL.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS7
endif


#-----------------------------------------------------------------------------
# EULER
#-----------------------------------------------------------------------------
ifeq ($(PROJ),R2_EULER_ZUI_128MB_ATVMM_3D)
    BOARD_TYPE_SEL ?= BD_MST165C_D01B_S
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EULER_128M_ATVMM
    CHIP_FAMILY ?=EULER
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    MMAP ?= project/mmap/MMAP_ATVMM_EULER_128_AEON.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_EULER_ZUI_128MB_DVBT)
    BOARD_TYPE_SEL ?= BD_MST047B_10APU
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EULER_128M_DVBT
    ENABLE_DVBT = ENABLE
    CHIP_FAMILY ?=EULER
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    MMAP ?= project/mmap/MMAP_DTVMM_EULER_128_DVBT_AEON.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_EULER_ZUI_128MB_DVBT_BLOADER)
    BOARD_TYPE_SEL ?= BD_MST047B_10APU
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EULER_128M_DVBT
    ENABLE_DVBT = ENABLE
    CHIP_FAMILY ?=EULER
    BUILD_TARGET ?= BLOADER_SYSTEM
    MMAP ?= project/mmap/MMAP_DTVMM_EULER_128_DVBT_AEON.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_EULER_ZUI_128MB_DVBT_PLUS_T2)
    BOARD_TYPE_SEL ?= BD_MST047B_10APU
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EULER_128M_DVBT_PLUS_T2
    ENABLE_DVBT = ENABLE
    CHIP_FAMILY ?=EULER
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    MMAP ?= project/mmap/MMAP_DTVMM_EULER_128_DVBT_AEON.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_EULER_ZUI_128MB_DTMB)
    BOARD_TYPE_SEL ?= BD_MST047B_10APU
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EULER_128M_DTMB
    ENABLE_DTMB = ENABLE
    CHIP_FAMILY ?=EULER
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    MMAP ?= project/mmap/MMAP_DTVMM_EULER_128_DTMB_R2.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_EULER_ZUI_128MB_DVBT_TW)
    BOARD_TYPE_SEL ?= BD_MST047B_10APU
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EULER_128M_DVBT_TW
    ENABLE_DVBT = ENABLE
    CHIP_FAMILY ?=EULER
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    MMAP ?= project/mmap/MMAP_DTVMM_EULER_128_DVBT_AEON.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_EULER_ZUI_64MB_ATVMM)
    BOARD_TYPE_SEL ?= BD_MST165C_D01B_S
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EULER_64M_ATVMM
    CHIP_FAMILY ?=EULER
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    MMAP ?= project/mmap/MMAP_ATVMM_EULER_64_AEON.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_EULER_ZUI_64MB_DVBT)
#    BOARD_TYPE_SEL ?= BD_MST165C_D01B_S
    BOARD_TYPE_SEL ?= BD_MST047B_10APU
    ENABLE_DVBT = ENABLE
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EULER_64M_DVBT
    CHIP_FAMILY ?=EULER
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    MMAP ?= project/mmap/MMAP_DTVMM_EULER_64_DVBT_R2.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_EULER_ZUI_64MB_ISDBT)
    BOARD_TYPE_SEL ?= BD_MST165C_D01B_S
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EULER_64M_ISDBT
    ENABLE_ISDBT = ENABLE
    ATSC_CC = BRA_CC
    CHIP_FAMILY ?=EULER
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    MMAP ?= project/mmap/MMAP_DTVMM_EULER_64_ISDBT_R2.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_EULER_ZUI_128MB_ISDBT)
    BOARD_TYPE_SEL ?= BD_MST165C_D01B_S
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EULER_128M_ISDBT
    ENABLE_ISDBT = ENABLE
    ATSC_CC = BRA_CC
    CHIP_FAMILY ?=EULER
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    MMAP ?= project/mmap/MMAP_DTVMM_EULER_128_ISDBT_R2.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

#-----------------------------------------------------------------------------
# EMERALD
#-----------------------------------------------------------------------------
ifeq ($(PROJ),MIPS_EMERALD_ZUI_MM_128MB_DVBT)
    BOARD_TYPE_SEL ?= BD_MST157E_C02A_EMERALD
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EMERALD_128M_DVBT
    ENABLE_DVBT = ENABLE
    CHIP_FAMILY ?= EMERALD
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    MMAP ?= project/mmap/MMAP_DTVMM_EMERALD_128_MIPS.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),MIPS_EMERALD_ZUI_MM_128MB_DVBS)
    BOARD_TYPE_SEL ?= BD_MST157E_C02A_EMERALD
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EMERALD_128M_DVBS
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= EMERALD
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    MMAP ?= project/mmap/MMAP_DTVMM_EMERALD_128_MIPS_DVBS.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),MIPS_EMERALD_ZUI_MM_128MB_DVBT_BLOADER)
    BOARD_TYPE_SEL ?= BD_MST157E_C02A_EMERALD
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EMERALD_128M_DVBT
    ENABLE_DVBT = ENABLE
    CHIP_FAMILY ?= EMERALD
    BUILD_TARGET ?= BLOADER_SYSTEM
    MMAP ?= project/mmap/MMAP_DTVMM_EMERALD_128_MIPS.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),MIPS_EMERALD_ZUI_MM_128MB_DVBT_CI_PLUS)
    BOARD_TYPE_SEL ?= BD_MST157E_C02A_EMERALD
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EMERALD_128M_DVBT_CI_PLUS
    ENABLE_DVBT = ENABLE
    CHIP_FAMILY ?= EMERALD
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    MMAP ?= project/mmap/MMAP_DTVMM_EMERALD_128_MIPS_CI.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),MIPS_EMERALD_ZUI_MM_128MB_DVBT_CI_PLUS_T2)
    BOARD_TYPE_SEL ?= BD_MST157E_C02A_EMERALD
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EMERALD_128M_DVBT_CI_PLUS_T2
    ENABLE_DVBT = ENABLE
    CHIP_FAMILY ?= EMERALD
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    MMAP ?= project/mmap/MMAP_DTVMM_EMERALD_128_MIPS_CI_T2.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),MIPS_EMERALD_ZUI_MM_128MB_DVBT_TW)
    BOARD_TYPE_SEL ?= BD_MST157E_C02A_EMERALD
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EMERALD_128M_DVBT_TW
    CHIP_FAMILY ?= EMERALD
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    MMAP ?= project/mmap/MMAP_DTVMM_EMERALD_128_MIPS_TW.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),MIPS_EMERALD_ZUI_MM_256MB_DVBT)
    BOARD_TYPE_SEL ?= BD_MST157B_D01A_S_EMERALD
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EMERALD_256M_DVBT
    CHIP_FAMILY ?= EMERALD
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    MMAP ?= project/mmap/MMAP_DTVMM_EMERALD_256_256_MIPS.h
    MEMORY_SIZE = MEMORY_256_256MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),MIPS_EMERALD_ZUI_MM_128MB_DTMB)
    BOARD_TYPE_SEL ?= BD_MST157E_C02A_EMERALD
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EMERALD_128M_DTMB
    ENABLE_DTMB = ENABLE
    CHIP_FAMILY ?= EMERALD
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    MMAP ?= project/mmap/MMAP_DTVMM_EMERALD_128_MIPS.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),MIPS_EMERALD_ZUI_MM_128MB_DVBT_PLUS_DVBC)
    BOARD_TYPE_SEL ?= BD_MST157E_C02A_EMERALD
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EMERALD_128M_DVBT_PlUS_DVBC
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    CHIP_FAMILY ?= EMERALD
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    MMAP ?= project/mmap/MMAP_DTVMM_EMERALD_128_MIPS.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),MIPS_EMERALD_ZUI_MM_128MB_DVBT_BLOADER)
    BOARD_TYPE_SEL ?= BD_MST157E_C02A_EMERALD
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EMERALD_128M_DVBT
    ENABLE_DVBT = ENABLE
    CHIP_FAMILY ?= EMERALD
    BUILD_TARGET ?= BLOADER_SYSTEM
    MMAP ?= project/mmap/MMAP_DTVMM_EMERALD_128_MIPS.h
    MEMORY_SIZE = MEMORY_128MB
    BIN_FORMAT ?= COMPRESS
endif

#-----------------------------------------------------------------------------
# EDEN
#-----------------------------------------------------------------------------
ifeq ($(PROJ), R2_EDEN_64MB_ATSC_DVBS)
    #BOARD_TYPE_SEL ?= BD_MST165A_D01A_S_EDEN
    BOARD_TYPE_SEL ?= BD_MST3393T_PA552
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EDEN_64M_ATSC
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    ENABLE_ATSC = ENABLE
    ENABLE_DVBS = ENABLE
    ATSC_CC = DTV_CC
    CHIP_FAMILY ?= EDEN
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_EDEN_ZUI_64MB_ALL.mk
    MMAP ?= project/mmap/MMAP_ATSCMM_EDEN_64_R2.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ), R2_EDEN_64MB_ATSC_TTS)
    #BOARD_TYPE_SEL ?= BD_MST165A_D01A_S_EDEN
    #BOARD_TYPE_SEL ?= BD_MST165A_D01B_S_EDEN
    BOARD_TYPE_SEL ?= BD_MST165C_D01A_S_EDEN
    #BOARD_TYPE_SEL ?= BD_MST165C_D01B_S_EDEN

    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EDEN_64M_ATSC
    ENABLE_ATSC = ENABLE
    ENABLE_ATSC_TTS = ENABLE
    CHIP_FAMILY ?= EDEN
    ATSC_CC = DTV_CC
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_EDEN_ZUI_64MB_ALL.mk
    
    MMAP_FILE = MMAP_ATSCMM_EDEN_64_R2_TTS.h
    
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ), R2_EDEN_64MB_ATSC_TTS_EN_SP_FR)
    #BOARD_TYPE_SEL ?= BD_MST165A_D01A_S_EDEN
    #BOARD_TYPE_SEL ?= BD_MST165A_D01B_S_EDEN
    #BD_MST165C_D01A_S_EDEN
    #BOARD_TYPE_SEL ?= BD_MST165C_D01B_S_EDEN
    
    BOARD_TYPE_SEL ?= BD_MST165B_D01A_S
    MS_TTS_LIB_SEL = MS_TTS_LIB_EN_SP_FR

    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EDEN_64M_ATSC
    ENABLE_ATSC = ENABLE
    ENABLE_ATSC_TTS = ENABLE
    CHIP_FAMILY ?= EDEN
    ATSC_CC = DTV_CC
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_EDEN_ZUI_64MB_ALL.mk
    
    MMAP_FILE = MMAP_ATSCMM_EDEN_64_R2_TTS.h
    
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ), R2_EDEN_64MB_ATSC)
    BOARD_TYPE_SEL ?= BD_MST165A_D01A_S_EDEN
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EDEN_64M_ATSC
    ENABLE_ATSC = ENABLE
    CHIP_FAMILY ?= EDEN
    ATSC_CC = DTV_CC
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_EDEN_ZUI_64MB_ALL.mk
    MMAP ?= project/mmap/MMAP_ATSCMM_EDEN_64_R2.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ), R2_EDEN_ZUI_64MB_ATVMM)
    BOARD_TYPE_SEL ?= BD_MST165A_D01A_S_EDEN
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EDEN_64M_ATVMM
    CHIP_FAMILY ?= EDEN
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    MMAP ?= project/mmap/MMAP_ATVMM_EDEN_64_AEON.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ),R2_EDEN_ZUI_32MB_ATVMM)
    BOARD_TYPE_SEL ?= BD_MST165A_D01A_S_EDEN
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EDEN_32M_ATVMM
    CHIP_FAMILY ?=EDEN
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    MMAP ?= project/mmap/MMAP_ATVMM_EDEN_32_AEON.h
    MEMORY_SIZE = MEMORY_32MB
    BIN_FORMAT ?= COMPRESS
endif

ifeq ($(PROJ), R2_EDEN_64MB_ALL)
    BOARD_TYPE_SEL ?= BD_MST165C_D01A_S_EDEN
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_EDEN_64M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    ENABLE_ATSC = ENABLE
    CHIP_FAMILY ?= EDEN
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_EDEN_ZUI_64MB_ALL.mk
    MMAP ?= project/mmap/MMAP_ATSCMM_EDEN_64_R2.h
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
endif



#-----------------------------------------------------------------------------
# NASA
#-----------------------------------------------------------------------------
ifeq ($(PROJ), R2_NASA_ZUI_64MB_ATVMM)
    BOARD_TYPE_SEL ?= BD_MST195B_D01A_S_NASA
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_NASA_64M_ATVMM
    CHIP_FAMILY ?= NASA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_NASA_ZUI_64MB_ATVMM.mk

    #MMAP ?= project/mmap/MMAP_ATVMM_NASA_64_R2.h	
	MMAP_FILE = MMAP_ATVMM_NASA_64_R2.h
	
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
    CHECKBINSIZE = yes
    CHECKBINSIZE_PARA=CheckBinSize_nasa_64m.in
    CHIP_CHANGE_NAME ?= NASA
endif

ifeq ($(PROJ), R2_NASA_ZUI_64MB_ATVMM_BLOADER)
    BOARD_TYPE_SEL ?= BD_MST060B_10AZBT_13502
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_NASA_64M_ATVMM
    CHIP_FAMILY ?= NASA
    BUILD_TARGET ?= BLOADER_SYSTEM
    BUILD_FILE = project/build/FILES_R2_NASA_ZUI_64MB_ATVMM_BLOADER.mk
	
    #MMAP ?= project/mmap/MMAP_ATVMM_NASA_64_R2.h
	MMAP_FILE = MMAP_ATVMM_NASA_64_R2.h
	
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
    CHECKBINSIZE = yes
    CHECKBINSIZE_PARA=CheckBinSize_nasa_64m.in
    CHIP_CHANGE_NAME ?= NASA
endif

ifeq ($(PROJ),R2_NASA_ZUI_32MB_ATVMM)
    BOARD_TYPE_SEL ?= BD_MST195B_D01A_S_NASA
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_NASA_32M_ATVMM
    CHIP_FAMILY ?=NASA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_NASA_ZUI_32MB_ATVMM.mk

    #MMAP ?= project/mmap/MMAP_ATVMM_NASA_32_R2.h
	MMAP_FILE = MMAP_ATVMM_NASA_32_R2.h
	
    MEMORY_SIZE = MEMORY_32MB
    BIN_FORMAT ?= COMPRESS
    CHECKBINSIZE = yes
    CHECKBINSIZE_PARA=CheckBinSize_nasa_32m.in
    CHIP_CHANGE_NAME ?= NASA
endif

ifeq ($(PROJ), R2_NASA_ZUI_64MB_DTMB_AUTOTEST)
    BOARD_TYPE_SEL ?= BD_MST195C_D01A_S_NASA
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_NASA_64M_DTMB
    CC_TVOPTS += -DCHAKRA3_AUTO_TEST=ENABLE
    CC_TVOPTS += -DENABLE_AUTOTEST=CHAKRA3_AUTO_TEST
    ENABLE_DTMB = ENABLE
    CHIP_FAMILY ?= NASA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_NASA_ZUI_64MB_DTMB.mk
	
    #MMAP ?= project/mmap/MMAP_DTVMM_NASA_64_DTMB_R2.h
	MMAP_FILE = MMAP_DTVMM_NASA_64_DTMB_R2.h
	
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
    CHECKBINSIZE = yes
    CHECKBINSIZE_PARA=CheckBinSize_nasa_64m.in
    CHIP_CHANGE_NAME ?= NASA
endif

ifeq ($(PROJ), R2_NASA_ZUI_64MB_DTMB_BLOADER)
    BOARD_TYPE_SEL ?= BD_MST195B_D01A_S_NASA
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_NASA_64M_DTMB
    ENABLE_DTMB = ENABLE
    CHIP_FAMILY ?= NASA
    BUILD_TARGET ?= BLOADER_SYSTEM
    BUILD_FILE = project/build/FILES_R2_NASA_ZUI_64MB_DTMB_BLOADER.mk
	
    #MMAP ?= project/mmap/MMAP_DTVMM_NASA_64_DTMB_R2.h
	MMAP_FILE = MMAP_DTVMM_NASA_64_DTMB_R2.h
	
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
    CHECKBINSIZE = yes
    CHECKBINSIZE_PARA=CheckBinSize_nasa_64m_dtmb.in
    CHIP_CHANGE_NAME ?= NASA
endif

ifeq ($(PROJ), R2_NASA_ZUI_64MB_DTMB)
    BOARD_TYPE_SEL ?= BD_MST195B_D01A_S_NASA
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_NASA_64M_DTMB
    ENABLE_DTMB = ENABLE
    CHIP_FAMILY ?= NASA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_NASA_ZUI_64MB_DTMB.mk
	
    #MMAP ?= project/mmap/MMAP_DTVMM_NASA_64_DTMB_R2.h
	MMAP_FILE = MMAP_DTVMM_NASA_64_DTMB_R2.h
	
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
    CHECKBINSIZE = yes
    CHECKBINSIZE_PARA=CheckBinSize_nasa_64m_dtmb.in
    CHIP_CHANGE_NAME ?= NASA
endif

ifeq ($(PROJ), R2_NASA_ZUI_64MB_DTMB_TCON_OD)
    BOARD_TYPE_SEL ?= BD_MST060B_10AZBT_13502
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_NASA_64M_DTMB_SZ
    ENABLE_DTMB = ENABLE
    CHIP_FAMILY ?= NASA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_NASA_ZUI_64MB_DTMB.mk
    
	#MMAP ?= project/mmap/MMAP_DTVMM_NASA_64_DTMB_TCON_OD_R2_SZ.h
	MMAP_FILE = MMAP_DTVMM_NASA_64_DTMB_TCON_OD_R2_SZ.h
	
    CC_TVOPTS += -DENABLE_TCON=ENABLE
    CC_TVOPTS += -DENABLE_TCON_OVERDRIVE=ENABLE
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
    CHECKBINSIZE = yes
    CHECKBINSIZE_PARA=CheckBinSize_nasa_64m.in
    CHIP_CHANGE_NAME ?= NASA
endif

ifeq ($(PROJ), R2_NASA_ZUI_64MB_DTMB_SZ)
    #BOARD_TYPE_SEL ?= BD_MST060B_10AZBT_13502
    BOARD_TYPE_SEL ?=BD_MST061B_10AZU_14014
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_NASA_64M_DTMB_SZ
    ENABLE_DTMB = ENABLE
    CHIP_FAMILY ?= NASA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_NASA_ZUI_64MB_DTMB.mk
	
    #MMAP ?= project/mmap/MMAP_DTVMM_NASA_64_DTMB_R2_SZ.h
	MMAP_FILE = MMAP_DTVMM_NASA_64_DTMB_R2_SZ.h
	
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
    CHECKBINSIZE = yes
    CHECKBINSIZE_PARA=CheckBinSize_nasa_64m_dtmb.in
    CHIP_CHANGE_NAME ?= NASA
endif

ifeq ($(PROJ), R2_NASA_ZUI_64MB_DTMB_URSA_SZ)
    #BOARD_TYPE_SEL ?= BD_MST060B_10AZBT_13502
    BOARD_TYPE_SEL ?=BD_MST061B_10AZU_14014
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_NASA_64M_DTMB_SZ
    ENABLE_DTMB = ENABLE
    CHIP_FAMILY ?= NASA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_NASA_ZUI_64MB_DTMB.mk
	
    #MMAP ?= project/mmap/MMAP_DTVMM_NASA_64_DTMB_R2_URSA9_SZ.h
	MMAP_FILE = MMAP_DTVMM_NASA_64_DTMB_R2_URSA9_SZ.h
	
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
    CHECKBINSIZE = yes
    CHECKBINSIZE_PARA=CheckBinSize_nasa_64m_dtmb.in
    CHIP_CHANGE_NAME ?= NASA
endif

ifeq ($(PROJ), R2_NASA_ZUI_32MB_ATVMM_SZ)
    #BOARD_TYPE_SEL ?= BD_MST060B_10AZBT_13502
    BOARD_TYPE_SEL ?= BD_MST061B_10AZU_14014
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_NASA_32M_ATVMM
    CHIP_FAMILY ?= NASA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_NASA_ZUI_32MB_ATVMM.mk
	
    #MMAP ?= project/mmap/MMAP_ATVMM_NASA_32_R2.h
	MMAP_FILE = MMAP_ATVMM_NASA_32_R2.h
	
    MEMORY_SIZE = MEMORY_32MB
    BIN_FORMAT ?= COMPRESS
    CHECKBINSIZE = yes
    CHECKBINSIZE_PARA=CheckBinSize_nasa_32m.in
    CHIP_CHANGE_NAME ?= NASA
endif

ifeq ($(PROJ), R2_NASA_ZUI_64MB_ALL)
    BOARD_TYPE_SEL ?= BD_MST195B_D01A_S_NASA
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_NASA_64M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=12
    #ENABLE_ATSC = ENABLE
    #ENABLE_DVBT = ENABLE
    #ENABLE_DVBC = ENABLE
    #ENABLE_DVBS = ENABLE
    #ENABLE_ISDBT = ENABLE
    ENABLE_DTMB = ENABLE
    CHIP_FAMILY ?= NASA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    BUILD_FILE = project/build/FILES_R2_NASA_ZUI_64MB_DTMB.mk
	
    #MMAP ?= project/mmap/MMAP_DTVMM_NASA_64_DTMB_R2.h
	MMAP_FILE = MMAP_DTVMM_NASA_64_DTMB_R2.h
	
    MEMORY_SIZE = MEMORY_64MB
    BIN_FORMAT ?= COMPRESS
    CHECKBINSIZE = yes
    CHECKBINSIZE_PARA=CheckBinSize_nasa_64m_dtmb.in
    CHIP_CHANGE_NAME ?= NASA
endif

#-----------------------------------------------------------------------------
# MAZDA
#-----------------------------------------------------------------------------
ifeq ($(PROJ),ARM_MAZDA_256M_ALL)
    #BOARD_TYPE_SEL ?= BD_MST243B_D01A_S_MAZDA
    BOARD_TYPE_SEL ?= BD_MST137B_10APT_MAZDA
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MAZDA_256M_ALL
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=10
    ENABLE_DVBT = ENABLE
    ENABLE_DVBC = ENABLE
    ENABLE_DVBS = ENABLE
    CHIP_FAMILY ?= MAZDA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_ARM_MAZDA_ALL.mk
    MMAP_FILE = MMAP_DTVMM_MAZDA_256_ARM_ALL.h
    MEMORY_SIZE = MEMORY_256MB
    BIN_FORMAT ?= COMPRESS7
endif

ifeq ($(PROJ),ARM_MAZDA_256M_ISDB)
    BOARD_TYPE_SEL ?= BD_MST137B_10APT_MAZDA
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MAZDA_256M_ALL
#    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=10
    ENABLE_ISDBT = ENABLE
    ATSC_CC = BRA_CC
    CHIP_FAMILY ?= MAZDA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_ARM_MAZDA_ALL.mk
    MMAP_FILE = MMAP_DTVMM_MAZDA_256_ARM_ALL.h
    MEMORY_SIZE = MEMORY_256MB
    BIN_FORMAT ?= COMPRESS7
endif

ifeq ($(PROJ),ARM_MAZDA_256M_ATSC)
    #BOARD_TYPE_SEL ?= BD_MST243B_D01A_S_MAZDA
    BOARD_TYPE_SEL ?= BD_MST137B_10APT_MAZDA
    CC_TVOPTS += -DMS_SW_CUS_SEL=SW_CONFIG_TRUNK_MAZDA_256M_ATSC
    CC_TVOPTS += -DFORCE_DB_CH_FLASH_BANK_COUNT=10
    ENABLE_ATSC = ENABLE
    ATSC_CC = DTV_CC
    CHIP_FAMILY ?= MAZDA
    BUILD_TARGET ?= ORGINAL_ALL_SYSTEM
    #BUILD_TARGET ?= MAIN_AP_SYSTEM
    BUILD_FILE = project/build/FILES_ARM_MAZDA_ALL.mk
    MMAP_FILE = MMAP_DTVMM_MAZDA_256_ARM_ALL.h
    MEMORY_SIZE = MEMORY_256MB
    BIN_FORMAT ?= COMPRESS7
endif

#==========================================================================================
ifneq ($(MMAP_FILE),)
	# Convert MMAP_FILE to C compiler option
	CC_TVOPTS += -DMMAP_FILE=\"$(MMAP_FILE)\"
	
	# Convert to mmap full path
	MMAP ?= project/mmap/$(MMAP_FILE)
endif

#==========================================================================================
